<section>
  <!-- <div class="pjcard">{{ 'campaign_list' | translate }}</div> -->
  <ng-container *ngFor="let badge of badgeList">
    <!-- <a [routerLink]="'data/user-profile'" (click)="showReport(badge.campaignId, badge.id);">
      <a [routerLink]="badge.id + '/campaign/' + badge.campaignId" routerLinkActive="active">
      <div class="campaign-card">
        <div class="image-wrapper">
          <img [src]="conf.putImage(badge.imageName)" alt="">
        </div>
        <button>{{badge.name}}</button>
      </div>
    </a> -->
    <div class="campaign-card" (click)="showReport(badge.campaignId, badge.id);">
      <div class="image-wrapper">
        <img [src]="conf.putImage(badge.imageName)" alt="">
      </div>
      <button>{{badge.name}}</button>
    </div>
  </ng-container>
</section>