section{
    display: flex;
    flex-wrap: wrap;
    // padding: 4px 10px;
    .campaign-card{
        width: 360px;
        height: 400px;
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        margin-bottom: 10px;
        box-shadow: 1px 1px 10px #cccccc;
        .image-wrapper,img{
            width: 360px;
            height: 340px;
            object-fit: contain;
            background-color: #c5c5c5;
        }
        button{
            height: 100%;
            width: 100%;
            flex: 1;
        }
    }
}