header{
    height: 65px;
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 7px;
    box-shadow: 0px 0px 10px #ababab;
    .logo{
        flex: 1;
        img {
            height: 45px;
            object-fit: contain;
        }
    }
}
