section{
    .pjcard{
        padding: 20px;
        p{
            margin-top: 0px;
        }
        .table{
            display: table;
            width: 100%;
            .row{
                display: table-row;
                .header-cell{
                    display: table-cell;
                    padding: 8px;
                }
                .cell{
                    display: table-cell;
                    padding: 8px;
                    border-radius: 10px;
                    background-color: #ffeaed;
                }
                .border{
                    border: 5px solid #ffffff;
                    width: 5%;
                }
                .no-right-radius{
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                    border-top: 5px solid #ffffff;
                    border-bottom: 5px solid #ffffff;
                    width: 75%;
                }
                .no-left-radius{
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;
                    border-top: 5px solid #ffffff;
                    border-bottom: 5px solid #ffffff;
                    width: 10%;

                }
                .no-radius{
                    border-radius: 0px;
                    border-top: 5px solid #ffffff;
                    border-bottom: 5px solid #ffffff;
                    width: 10%;
                }
            }
        }
        .graph{
            height:350px;
            // background-color: #ffffff;
        }
        .btn-download{
            padding: 5px 20px;
            display: block;
            margin-right: 0px;
            font-size: 14px;
            height: 30px;
        }
        .footer{
            justify-content: space-between;
            p{
                margin-bottom: 0px;
            }
        }
    }
    .darkChart{
        background-color: #25272d;
        color: #ffffff;
        .graph{
            height:400px;
        }
    }
}