<section>
  <div class="pjcard pjno-right-margin" *ngFor="let item of list; let i = index;">
    <p>{{item.type}}</p>
    <h2>{{item.question}}</h2>
    <hr>
    <div>
      <div class="table">
        <div class="row">
          <div class="header-cell">#</div>
          <div class="header-cell">Answers</div>
          <div class="header-cell">percentage</div>
          <div class="header-cell">count</div>
        </div>
        <div class="row" *ngFor="let subItem of item.answer">
          <div class="cell border">{{subItem.no}}</div>
          <div class="cell no-right-radius">{{subItem.title}}</div>
          <div class="cell no-radius">{{subItem.percent}}</div>
          <div class="cell no-left-radius">{{subItem.count}}</div>
        </div>
      </div>
    </div>
    <div>
      <div>
        <div *ngIf="item.bar">
          <div>
            <button class="pjbtn btn-download" (click)="downloadGraph('graph' + i, 'jpg','bar ')">Download JPEG Image</button>
            <button class="pjbtn btn-download" (click)="downloadGraph('graph' + i, 'png','bar ')">Download PNG Image</button>
          </div>
          <div class="graph" [id]="'graph' + i">
            <ngx-charts-bar-vertical
              [scheme]="colorScheme"
              [results]="item.data"
              gradient="true"
              legend="true"
              xAxis="true"
              yAxis="true"
              showXAxisLabel="true"
              showYAxisLabel="true">
            </ngx-charts-bar-vertical>
          </div>
        </div>
        <div *ngIf="item.pie">
          <div>
            <button class="pjbtn btn-download" (click)="downloadGraph('graphs' + i, 'jpg','pie ')">Download JPEG Image</button>
            <button class="pjbtn btn-download" (click)="downloadGraph('graphs' + i, 'png','pie ')">Download PNG Image</button>
          </div>
          <div class="graph" [id]="'graphs' + i">
            <ngx-charts-pie-chart
              [scheme]="colorScheme"
              [results]="item.data"
              gradient="true"
              legend="true">
            </ngx-charts-pie-chart>
          </div>
        </div>
      </div>
    </div>
    <div class="pjflex footer">
      <div>
        <button style="margin-right: 5px;" (click)="item.bar = true; item.pie = false;">bar</button>
        <button style="margin-right: 5px;" (click)="item.bar = false; item.pie = true;">pie</button>
      </div>
      <p>Total unique respondents {{item.respondentCount}}</p>
    </div>
  </div>
  <div class="pjcard darkChart">
    <p>Audience Demographics</p>
    <small>information on your audience...</small>
    <hr>
    <h2>City Tier</h2>
    <div>
      <div *ngIf="bar">
        <div>
          <button class="pjbtn btn-download" (click)="downloadGraph('graphMain', 'jpg','pie ')">Download JPEG Image</button>
          <button class="pjbtn btn-download" (click)="downloadGraph('graphMain', 'png','pie ')">Download PNG Image</button>
        </div>
        <div class="graph" id="graphMain">
          <ngx-charts-bar-vertical
            [scheme]="colorScheme"
            [results]="cityTierData"
            gradient="true"
            legend="true"
            xAxis="true"
            yAxis="true"
            showXAxisLabel="true"
            showYAxisLabel="true">
          </ngx-charts-bar-vertical>
        </div>
      </div>
      <div *ngIf="pie">
        <div>
          <button class="pjbtn btn-download" (click)="downloadGraph('graphMains', 'jpg','pie ')">Download JPEG Image</button>
          <button class="pjbtn btn-download" (click)="downloadGraph('graphMains', 'png','pie ')">Download PNG Image</button>
        </div>
        <div class="graph" id="graphMains">
          <ngx-charts-pie-chart
            [scheme]="colorScheme"
            [results]="cityTierData"
            gradient="true"
            legend="true">
          </ngx-charts-pie-chart>
        </div>
      </div>
    </div>
    <div class="pjflex footer">
      <div>
        <button (click)="bar = true; pie = false;">bar</button>
        <button (click)="bar = false; pie = true;">pie</button>
      </div>
      <p>Total unique respondents 1000</p>
    </div>
  </div>
</section>