<section class="pjflexWrap">
  <div class="pjflex">
    <div class="fexVal">
      <div class="pjcard pjno-bottom-padding pjPadding">
        <p>{{ 'total_numbers' | translate }}: {{count}}</p>
      </div>
      <div class="pjcard pjPadding">
        <p>{{ 'sex_distribution' | translate }}</p>
        <div class="pjflex" *ngIf="pieGrid">
          <div class="doughnut male">
            <ngx-charts-pie-chart
              [scheme]="colorSchemeDoughnut"
              [results]="genderM"
              gradient="true"
              doughnut="true"
              arcWidth="0.1"
              tooltipDisabled="true">
            </ngx-charts-pie-chart>
            <!-- <ngx-charts-pie-grid
              [view]="pieDimensionGrid"
              [scheme]="colorScheme"
              [results]="genderM"
              tooltipDisabled = "true">
            </ngx-charts-pie-grid> -->
           
          </div>
          <div class="doughnut female">
            <ngx-charts-pie-chart
              [scheme]="colorSchemeDoughnut"
              [results]="genderF"
              gradient="true"
              doughnut="true"
              arcWidth="0.1"
              tooltipDisabled="true">
            </ngx-charts-pie-chart>
            <!-- <ngx-charts-pie-grid
              [view]="pieDimensionGrid"
              [scheme]="colorScheme"
              [results]="genderF"
              tooltipDisabled = "true">
            </ngx-charts-pie-grid> -->
            
          </div>
        </div>
        <div class="pjflex pjJustifySpace" *ngIf="pieGrid">
          <p>{{ 'male' | translate }}: {{genderM[0].value}}%</p>
          <p>{{ 'female' | translate }}: {{genderF[0].value}}%</p>
        </div>
      </div>
    </div>
    <div class="pjcard fexVal pjPadding">
      <p>{{ 'age_distribution' | translate }}</p>
      <div *ngIf="treeMap">
        <ngx-charts-bar-vertical-normalized
          [view] = "pieDimension"
          [scheme] = "colorSchemeGrey"
          [results]="age"
          showXAxisLabel = true
          showDataLabel = true
          showYAxisLabel = true
          xAxis = true
          yAxis = true
          gradient = false
          barPadding = 55
          yScaleMax = 100
          tooltipDisabled = true>
        </ngx-charts-bar-vertical-normalized>
        <!-- <ngx-charts-bar-vertical
          [view]="pieDimension"
          [scheme]="colorScheme"
          [results]="age"
          showXAxisLabel="true"
          showYAxisLabel="true"
          xAxis="true"
          yAxis="true"
          barPadding = "55"
          yScaleMax = 100>
        </ngx-charts-bar-vertical> -->
        <!-- <ngx-charts-tree-map
          [view]="pieDimension"
          [scheme]="colorScheme"
          [results]="age"
          tooltipDisabled = "true">
        </ngx-charts-tree-map> -->
      </div>
    </div>
  </div>
  <div class="pjcard pjPadding">
    <p>{{ 'areal_distribution' | translate }}</p>
    <div *ngIf="map">
      <svg xmlns:mapsvg="http://mapsvg.com" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" mapsvg:geoViewBox="73.554302 53.561780 134.775703 18.155060" preserveAspectRatio="xMidYMid meet" viewBox="0 0 774.04419 569.65088" style="transform: scale(0.85);">
        <path *ngFor="let item of country" data="CN-34" [attr.d]="item.d" class=" mapsvg-region" [title]="item.province" style="fill: #ff2744; stroke: #ffffff; stroke-width: 1px;" [ngStyle]="{'opacity': item.opacity}"></path>
        <defs *ngFor="let item of country">
          <path [id]="item.id" [attr.d]="item.textpath" fill="#ddd" stroke="#ddd"></path>
        </defs>
        <text style="font-size: 12px;" *ngFor="let item of country; let k = index;" [id]="'text'+k">
          <textPath [attr.xlink:href]="'#'+ item.id">{{item.Cn}}</textPath>
        </text>
      </svg>
    </div>
  </div>
  <div class="pjflex">
    <div class="pjcard fexVal pjPadding">
      <p>{{ 'city_tier_distribution' | translate }}</p>
      <div *ngIf="advPie">
        <!-- <ngx-charts-advanced-pie-chart
          [view]="pieDimension"
          [scheme]="colorSchemeGradient"
          [results]="cityTier"
          [gradient]="gradient">
        </ngx-charts-advanced-pie-chart> -->
        <ngx-charts-pie-chart
          [view]="pieDimensionCityTier"
          [scheme]="colorSchemeGradient"
          [results]="cityTier"
          gradient="true"
          doughnut="true"
          arcWidth="0.26"
          legend="true"
          labels="true"
          legendPosition="below"
          tooltipDisabled = "true">
        </ngx-charts-pie-chart>
      </div>
    </div>
    <div class="pjcard fexVal pjPadding">
      <p>{{ 'income_distribution' | translate }}</p>
      <div *ngIf="gaugePie">
        <!-- <ngx-charts-gauge
          [view]="pieDimension"
          [scheme]="colorScheme"
          [results]="income"
          [legend]="legend"
          [legendPosition]="legendPosition">
        </ngx-charts-gauge> -->
        <!-- <ngx-charts-bar-horizontal
          [view]="pieDimension"
          [scheme]="colorScheme"
          [results]="income">
        </ngx-charts-bar-horizontal> -->
        <ngx-charts-bar-horizontal-normalized
          [view]="pieDimension"
          [scheme]="colorSchemeGrey"
          [results]="income"
          showYAxisLabel="true"
          yAxis="true"
          showDataLabel = true
          gradient="false"
          yScaleMax = 100
          tooltipDisabled = "true">
        </ngx-charts-bar-horizontal-normalized>
      </div>
    </div>
  </div>
  <div class="pjflex">
    <div class="pjcard fexVal pjPadding">
      <p>{{ 'social_media_app_users' | translate }}</p>
      <div *ngIf="snsPieGrid" class="pjflex pjflexWrap justify-center">
        <div *ngFor="let item of sns" class="pjflex">
          <div>
            <div class="image-border">
              <img class="image-icon" [src]="item.snsIcon" alt="">
            </div>
            <p class="text-center">{{item.snsName}}: {{item.percentage}}%</p>
          </div>
          <!-- <div>{{item.averageScore}}</div> -->
          <!-- [yAxisLabel]="item.averageScore" -->
          <!-- <div>
            <ngx-charts-area-chart
              [view]="view1"
              [scheme]="colorScheme1"
              [results]="item.item"
              gradient="true"
              xAxis="true"
              yAxis="true"
              yScaleMin = 0
              yScaleMax = 100
              showXAxisLabel="true"
              showYAxisLabel="true"
              timeline="true">
            </ngx-charts-area-chart>
          </div> -->
        </div>
        <!-- <ngx-charts-pie-grid
          [scheme]="colorScheme"
          [results]="sns"
          tooltipDisabled = "true">
        </ngx-charts-pie-grid> -->
      </div>
    </div>
    <div class="pjcard fexVal pjPadding">
      <p>{{ 'interest_distribution' | translate }}</p>
      <div *ngIf="bar">
        <ngx-charts-bar-vertical
          [view]="pieDimension"
          [scheme]="colorScheme"
          [results]="interest"
          showXAxisLabel="true"
          showYAxisLabel="true"
          showDataLabel = true
          xAxis="true"
          yAxis="true"
          gradient="false"
          barPadding = "5"
          yScaleMax = 100>
        </ngx-charts-bar-vertical>
      </div>
    </div>
  </div>
</section>
