section{
    .menu{
        padding: 0px;
        width: 100%;
        ul{
            list-style: none;
            padding: 0px;
            justify-content: center;
            li{
                margin: 0px 10px;
            }
        }
    }
    textPath{
        font-size: 8px !important;
    }
    #text0:hover textPath,
    #text1:hover textPath,
    #text2:hover textPath,
    #text3:hover textPath,
    #text4:hover textPath,
    #text5:hover textPath,
    #text6:hover textPath,
    #text7:hover textPath,
    #text8:hover textPath,
    #text9:hover textPath,
    #text10:hover textPath,
    #text11:hover textPath,
    #text12:hover textPath,
    #text13:hover textPath,
    #text14:hover textPath,
    #text15:hover textPath,
    #text16:hover textPath,
    #text17:hover textPath,
    #text18:hover textPath,
    #text19:hover textPath,
    #text20:hover textPath,
    #text21:hover textPath,
    #text22:hover textPath,
    #text23:hover textPath,
    #text24:hover textPath,
    #text25:hover textPath,
    #text26:hover textPath,
    #text27:hover textPath,
    #text28:hover textPath,
    #text29:hover textPath,
    #text30:hover textPath,
    #text31:hover textPath,
    #text32:hover textPath,
    #text33:hover textPath{
        font-size: 20px !important;
        // background-color: #1d1b1b;
        // fill: #ffffff;
        transition: all 0.2s;
    }
    .doughnut{
        width: 240px;
        height: 210px;
        background-position: center;
        background-size: 60%;
        background-repeat: no-repeat;
        p{
            text-align: center;
        }
    }
    .male{
        background-image: url("https://vectors.pro/wp-content/uploads/2018/04/male-toilet-sign-icon-symbol-vector-mens-gents.png");
    }
    .female{
        background-image: url("https://cdn.pixabay.com/photo/2014/03/24/13/42/female-294094_640.png");
        background-size: 30%;
    }
    .justify-center{
        justify-content: space-around;
    }
    .image-border{
        border: 3px solid #ff2744;
        height: 93px;
        width: 93px;
        border-radius: 50px;
        .image-icon{
            height: 77px;
            width: 77px;
            border-radius: 50px;
            object-fit: contain;
            border: 8px solid #ffffff;
        }
    }
    .text-center{
        text-align: center;
    }
}