<div class="center">
  <div class="pjflex login-left" [class.translate]="doLogin" [class.notranslate]="!doLogin">
    <div class="left">
      <form [formGroup]="form" (ngSubmit)="actionLoginUser(form.value)">
        <header>
          <div class="logo">
            <img src="assets/logo/loginLogo.png" alt="">
          </div>
          <div class="right">
            <p>{{'account_query1' | translate }}<span></span><button type="button" class="pjwhite-btn signup" (click)="doLogin = false">{{ 'register' | translate }}</button></p>
          </div>
          <div class="right">
            <button type="button" class="pjwhite-btn signup" (click)="changeLang('en');">English</button>
            <button type="button" class="pjwhite-btn signup" (click)="changeLang('nl');">Chinese</button>
          </div>
        </header>
        <section>
          <h2>{{ 'login' | translate }}</h2>
          <div>
            <label class="block-label" for="">{{ 'email_id' | translate }}</label>
            <input class="block-input input-radius" type="email" class="form-control" placeholder="Username" formControlName="username">    
          </div>
          <div>
            <label class="block-label" for="">{{ 'password' | translate }}</label>
            <input class="block-input input-radius" type="password" class="form-control" placeholder="Password" formControlName="password">
          </div>
          <div class="level3">
            <div>
              <input class="grey-checkbox" type="checkbox" formControlName="remember"> {{ 'remember_me' | translate }}
            </div>
            <div class="pjred forgot-pass">{{ 'forgot' | translate }}</div>
          </div>
          <div class="footer">
            <button type="submit" class="pjbtn" [disabled]="!form.valid">{{ 'login' | translate }}</button>
          </div>
        </section>
      </form>
    </div>
    <div class="right">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/Kasteel_Kruikenburg.JPG/1200px-Kasteel_Kruikenburg.JPG" alt="">
    </div>
  </div>
  <div class="pjflex login-right" [class.notranslate]="doLogin" [class.translate]="!doLogin" >
    <div class="left">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/Kasteel_Kruikenburg.JPG/1200px-Kasteel_Kruikenburg.JPG" alt="">
    </div>
    <div class="right">
      <form [formGroup]="signupForm" (ngSubmit)="actionsignupUser(signupForm.value)">
        <header>
          <div class="logo">
            <img src="assets/logo/loginLogo.png" alt="">
          </div>
          <div class="right">
            <p>{{'account_query2' | translate }}<span></span><button type="button" class="pjwhite-btn signup" (click)="doLogin = true">{{'login' | translate }}</button></p>
          </div>
        </header>
        <section>
          <div class="profile-image-wrapper">
          <img class="image-btn" *ngIf="!signupForm.value.imageName" src="https://peoplesmedicalcare.org/wp-content/uploads/2017/12/dummy-profile-img.jpg" alt="">
            <img class="image-btn" *ngIf="signupForm.value.imageName != ''" [src]="signupForm.value.imageName" alt="">
            <button class="image-btn image-btn2">
              <input type="file" (change)="uploadImage()" #image>
            </button>
          </div>
          <div>
            <label class="block-label" for="">{{'brand_name' | translate }}*</label>
            <input class="block-input input-radius" type="text" class="form-control" placeholder="brandName" formControlName="brandName">    
          </div>
          <div>
            <label class="block-label" for="">{{'email_id' | translate }}*</label>
            <input class="block-input input-radius" type="email" class="form-control" placeholder="email" formControlName="emailAddress">    
          </div>
          <div>
            <label class="block-label" for="">{{'password' | translate }}*</label>
            <div class="pjflex">
              <input class="block-input input-radius" type="password" class="form-control" placeholder="Password" formControlName="newpassword">
              <input class="block-input input-radius" type="password" class="form-control" placeholder="Password" formControlName="confirmpassword">
            </div>
          </div>
          <div>
            <label class="block-label" for="">{{'phonenumber' | translate }}*</label>
            <input class="block-input input-radius" type="number" class="form-control" placeholder="phoneNumber" formControlName="phoneNumber">    
          </div>
          <div>
            <label class="block-label" for="">{{'contact_name' | translate }}*</label>
            <div class="pjflex">
              <input class="block-input input-radius" type="text" class="form-control" placeholder="Full name" formControlName="name">
              <!-- <input class="block-input input-radius" type="text" class="form-control" placeholder="lastName" formControlName="lastName"> -->
            </div>
          </div>
          <div class="footer">
            <button type="submit" class="pjbtn" [disabled]="!signupForm.valid">{{ 'register' | translate }}</button>
          </div>
        </section>
      </form>
    </div>
  </div>
</div>