.center{
    background-color: #ffffff;
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    .left,.right{
        width: 50vw;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .left{
        header{
            display: flex;
            padding: 10px 20px;
            .right{
                flex: 1.5;
                display: flex;
                justify-content: space-between;
                p{
                    margin: 3px 0px;
                    span{margin: 0px 15px;}
                }
            }
            .logo{
                flex: 1;
                img {
                    height: 45px;
                    object-fit: contain;
                }
            }
        }
        section{
            width: 50%;
            margin: auto;
            h2{
                margin: 40% 0px 0px 0px;
                font-size: 50px;
                font-weight: bold;
            }
            .level3{
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 20px;
            }
            .forgot-pass{
                text-align: right;
            }
            .footer{
                button{
                    width: 100%;
                }
            }
        }
    }
    .right{
        header{
            display: flex;
            padding: 10px 20px;
            .right{
                flex: 1.5;
                display: flex;
                justify-content: space-between;
                p{
                    margin: 3px 0px;
                    span{margin: 0px 15px;}
                }
            }
            .logo{
                flex: 1;
                img {
                    height: 45px;
                    object-fit: contain;
                }
            }
        }
        section{
            width: 50%;
            margin: auto;
            .profile-image-wrapper{
                position: relative;
                margin-top: 50px;
                .image-btn{
                    height: 140px;
                    width: 140px;
                    object-fit: contain;
                    padding: 0px;
                    border-radius: 50%;
                    background-color: #f1f1f1;
                    box-shadow: 1px 1px 6px #cccccc;
                }
                .image-btn.image-btn2{
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    opacity: 0;
                }
            }
            .level3{
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 20px;
            }
            .forgot-pass{
                text-align: right;
            }
            .footer{
                button{
                    width: 100%;
                }
            }
        }
    }
    .login-left.translate{
        transition: margin-left .5s;
        margin-left: 0vw;
    }
    .login-left.notranslate{
        transition: margin-left .5s;
        margin-left: -100vw;
    }
    .login-right.translate{
        transition: margin-right .5s;
        margin-right: 0vw;
    }
    .login-right.notranslate{
        transition: margin-left .5s;
        margin-right: -100vw;
    }
}
