.toast-wrapper{
    position: fixed;
    top: 30px;
    right: 0px;
}
.loader-wrapper{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 185px;
        width: 185px;
        border-radius: 50%;
        object-fit: none;
    }
}
.loader-wrapper.show{
    display: block;
}