section{
    .sns-title{
        margin-bottom: 13px;
        .sns-img{
            height: 60px;
            width: 60px;
            object-fit: cover;
            border-radius: 50%;
            margin-right: 15px;
        }
    }
}