<section>
  <div *ngFor="let item of sampleList">
    <div class="pjflex sns-title">
      <img class="sns-img" [src]="item.snsImage" alt=""><p>{{item.title}}</p>
    </div>
    <div class="pjflex sns-content">
      <div class="pjcard" *ngFor="let subItem of item.data; let i = index">{{i}}</div>
    </div>
  </div>
</section>