.container{
    width: 85%;
    margin: auto;
}
section.profile-section{
    display: flex;
    flex-direction: column;
    width: calc(85% - 5%);
    height: calc(85% - 0%);
    flex: 1;
    img{
        object-fit: cover;
        width: 100%;
        height: 200px;
    }
    .list{
        padding: 15px 20px;
        font-size: 18px;
        text-align: left;
        color: #000000;
        text-decoration: none;
    }
}
section.contain-placeholder{
    flex: 4;
    overflow: auto;
}

.toast{
    width: 45%;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px;
    font-size: 14px;
    color: #ffffff;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    opacity: 0;
    transition: opacity 0.5s;
    text-align: center;
}
.toast.success{
    background-color: rgba(0, 128, 0, 0.6);
}
.toast.error{
    background-color: rgba(255, 39, 68, 0.6);
}
.toast.warning{
    background-color: rgba(255, 159, 39, 0.6);
}
.toast.info{
    background-color: rgba(0, 93, 128, 0.6);
}
.toast.show{
    opacity: 1;
    transition: opacity 0.5s;
}
