<app-header></app-header>
<div class="container pjflex">
    <section class="pjcard profile-section">
        <img *ngIf="!profileImage" src="https://peoplesmedicalcare.org/wp-content/uploads/2017/12/dummy-profile-img.jpg" class="profile-image">
        <img *ngIf="profileImage" [src]="profileImage" class="profile-image">
        <!-- <a routerLink="badges" routerLinkActive="active" class="list my-campaign">
            <img src="" class="icon" alt=""> {{ 'my_campaign' | translate }}
        </a>
        <a routerLink="profile" routerLinkActive="active" class="list my-profile">
            <img src="" class="icon" alt=""> {{ 'my_profile' | translate }}
        </a> -->
        <a (click)="redirectBadge()" class="list my-campaign">
            <img src="" class="icon" alt=""> {{ 'my_campaign' | translate }}
        </a>
        <a (click)="redirectProfile()" class="list my-profile">
            <img src="" class="icon" alt=""> {{ 'my_profile' | translate }}
        </a>
        <a (click)="logout()" class="list log-out">
            <img src="" class="icon" alt=""> {{ 'logout' | translate }}
        </a>
    </section>
    <section class="contain-placeholder">
        <router-outlet></router-outlet>
    </section>
</div>