<section>
    <div class="pjcard menu">
        <ul class="pjflex">
          <li>
            <a routerLink = "user-profile" routerLinkActive="active">{{'user_profile' | translate }}</a>
          </li>
          <li>
            <a routerLink ="performance" routerLinkActive="active">{{'performance' | translate }}</a>
          </li>
          <li>
            <a routerLink ="sample-content" routerLinkActive="active">{{'sample_content' | translate }}</a>
          </li>
          <li>
            <a routerLink ="insight" routerLinkActive="active">{{'insight' | translate }}</a>
          </li>
        </ul>
    </div>
</section>
<router-outlet></router-outlet>