/* You can add global styles to this file, and also import other style files */
html{
    background-color: #efefef;
    body{
        margin: 0px;
    }
}
$pjred : #ff2744;
$pjgrey:#e4e4e4;
*{
    font-family: monospace;
    font-size: 18px;
}
.pjred{
    color: $pjred;
}
.pjbtn{
    border: 1px solid $pjred;
    background-color: $pjred;
    border-radius: 50px;
    color: #ffffff;
    padding: 5px;
    margin: 10px auto;
    font-size: 20px;
    height: 50px;
}
.pjwhite-btn{
    color: #000000;
    border-radius: 50px;
    background-color: #ffffff;
    padding: 5px 20px;
    border: 1px solid $pjgrey;
}
.pjPadding{
    padding-left: 20px;
    padding-right: 20px;
}
.fexVal{
    flex: 1;
}
.pjcard{
    border-radius: 12px;
    background-color: #ffffff;
    overflow: hidden;
    margin: 0px 10px 10px 0px;
    padding-bottom: 20px;
    box-shadow: 2px 2px 6px #cccccc;
}
.pjno-right-margin{
    margin-right: 0px;
}
.pjno-bottom-padding{
    padding-bottom: 0px;
}
.pjflex{
    display: flex;
}
.pjJustifySpace{
    justify-content: space-around;
}
.pjflexWrap{
    flex-wrap: wrap;
}
a{
    text-decoration: none;
    color: #000000;
}
button{
    border: 0px;
}
.profile-section{
    // flex: 1;  
}
app-profile-page,app-campaign-page,app-page-one, app-menu,app-page-two,app-page-three,app-page-four{
    flex: 1;
}
label, input{
    display: block;
    margin: 10px 0px;
    // font-size: 20px;
    width: 97%;
}
input{
    background-color: #ffffff !important;
    padding: 5px 0px;
    padding-left: 5px;
    border-radius: 50px;
    border: 2px solid $pjgrey;
    margin-right: 5px;
    height: 30px;
}
input[type="checkbox"]{
    margin: 0px;
    display: inline-flex;
    height: 20px;
    width: 20px;
    border: 2px solid #d8d8d8;
    background: #ffffff;
    box-shadow: none;
}
input[type="file"]{
    opacity: 0;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-radius: 50%;
}
button:disabled{
    background-color: $pjgrey;
    border: 0px;
}
.active{
    color: #ffffff !important;
    background-color: $pjred;
}
ul{
    list-style: none;
    padding: 0px;
    justify-content: center;
    li{
        a.active{
            color: $pjred!important;
            background-color: #ffffff;
        }
    }
}
table{
    width: 100%;
    border-collapse: collapse;
    td{
        text-align: center;
        padding: 8px;
        border-radius: 10px;
        background-color: #ffeaed;
    }
}
text{
    font-size: 12px;
}