<form [formGroup]="profileForm">
  <section>
    <div class="pjcard pjPadding left">
      <p class="title">{{'upload_image' | translate }}</p>
      <div class="profile-image-wrapper">
        <img class="image-btn" *ngIf="profileForm.value.imageName == ''" src="https://peoplesmedicalcare.org/wp-content/uploads/2017/12/dummy-profile-img.jpg">
        <img class="image-btn" *ngIf="profileForm.value.imageName != ''" [src]="conf.putImage(profileImage)">
        <button class="image-btn">
          <input type="file" (change)="uploadImage()" #image>
        </button>
      </div>
      <div class="pjflex subtitle">
        <p class="title">{{'brand_information' | translate }}</p>
        <button class="icon" (click)="hideForm = !hideForm">edit</button>
      </div>
      <div>
        <label for="">{{brandName}}</label>
        <label for="">{{'contact_name' | translate }}: {{profileForm.value.name}}</label>
        <label for="">{{'email_id' | translate }}: {{profileForm.value.email}}</label>
        <label for="">{{'phone_number' | translate }}: {{profileForm.value.phoneNumber}}</label>
      </div>
    </div>
    <div class="right">
      <div *ngIf="!hideForm">
        <div class="pjcard pjPadding">
          <p class="title">{{'change_brand_information' | translate }}</p>
          <div class="pjflex">
            <div class="input-container">
              <input class="block-input input-radius" type="tel" class="form-control" placeholder="phoneNumber" formControlName="phoneNumber">
            </div>
            <div class="pjflex input-container">
              <input class="block-input input-radius" type="text" class="form-control" placeholder="Full name" formControlName="name">
            </div>
          </div>
          <div class="footer">
            <button class="pjbtn" [disabled]="profileForm.value.name == '' || profileForm.value.phoneNumber == ''" (click)="updateUserAccount()">{{'confirm' | translate }}</button>
          </div>
        </div>
        <!-- <div class="pjcard pjPadding">
          <p class="title">invite users</p>
          <div class="input-container" *ngFor="let user of controls.controls">
            <input class="block-input input-radius" type="text" class="form-control" placeholder="phone number">
          </div>
          <button (click)="addUsers()">add</button>
          <div class="footer">
            <button class="pjbtn" disabled>invite</button>
          </div>
        </div> -->
        <div class="pjcard pjPadding">
          <p class="title">{{'change_password' | translate }}</p>
          <div class="input-container">
            <input class="block-input input-radius" type="password" class="form-control" placeholder="Old Password" formControlName="oldpassword">
            <input class="block-input input-radius" type="password" class="form-control" placeholder="New Password" formControlName="newpassword">
            <input class="block-input input-radius" type="password" class="form-control" placeholder="Confirm Password" formControlName="confirmpassword">
          </div>
          <div class="footer">
            <button class="pjbtn" [disabled]="(profileForm.value.oldpassword == '' || profileForm.value.newpassword == '' || profileForm.value.confirmpassword == '') || !(profileForm.value.newpassword == profileForm.value.confirmpassword && profileForm.value.newpassword != '')" (click)="changePassword()">{{'confirm' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>