section{
    width: 100%;
    display: flex;
    .left{
        width: 300px;
        height: 450px;
        .profile-image-wrapper{
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            .image-btn{
                height: 140px;
                width: 140px;
                object-fit: contain;
                padding: 0px;
                border-radius: 50%;
                background-color: #f1f1f1;
                box-shadow: 1px 1px 6px #cccccc;
            }
        }
        .subtitle{
            justify-content: space-between;
        }
        label{
            display: block;
        }
    }
    .right{
        flex: 2;
        .input-container{
            width: 50%;
        }
        .footer{
            text-align: right;
            button{
                width: 170px;
            }
        }
    }
}
