<section>
  <!-- <div class="pjflex"> -->
    <div class="pjcard">
      <ngx-charts-number-card
        [scheme]="colorScheme"
        [results]="results"
        [cardColor]="cardColor">
      </ngx-charts-number-card>
    </div>
    <!-- <div class="pjcard">
      2
    </div>
    <div class="pjcard">
      3
    </div> -->
  <!-- </div> -->
  <div class="pjflex">
    <div class="pjcard">
      <ngx-charts-number-card
        [results]="result1">
      </ngx-charts-number-card>
    </div>
    <div class="pjcard">
      <ngx-charts-number-card
        [results]="result2">
      </ngx-charts-number-card>
    </div>
    <div class="pjcard">
      <ngx-charts-number-card
        [results]="result3">
      </ngx-charts-number-card>
    </div>
    <div class="pjcard">
      <ngx-charts-number-card
        [results]="result4">
      </ngx-charts-number-card>
    </div>
  </div>
  <div class="pjcard pjPadding">
    <!-- <div *ngIf="combo">
      <app-mix-chart
        [view]="view"
        [scheme]="comboBarScheme"
        [colorSchemeLine]="lineChartScheme"
        [results]="barChart"
        [animations]="animations"
        [lineChart]="barChart"
        [yAxisTickFormatting]="yLeftTickFormat"
        [yLeftAxisScaleFactor]="yLeftAxisScale"
        [yRightAxisScaleFactor]="yRightAxisScale"
        [yRightAxisTickFormatting]="yRightTickFormat"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [legendTitle]="legendTitle"
        [legendPosition]="legendPosition"
        [showGridLines]="showGridLines"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [showRightYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [yAxisLabelRight]="yAxisLabelRight">
      </app-mix-chart>
    </div> -->
    <!-- <p>{{ 'income_distribution' | translate }}</p> -->
    <p>Changes in action, interactive quantity and user engagement for each week</p>
    <ngx-charts-bar-vertical-2d
      [scheme]="multiColorScheme1"
      [results]="multi"
      gradient="false"
      xAxis="true"
      yAxis="true"
      barPadding = 0
      showDataLabel = true
      groupPadding = 20
      legend="true"
      xScaleMin = 0
      YScaleMin = 0
      [legendTitle]="legendTitle">
    </ngx-charts-bar-vertical-2d>
  </div>
  <div class="pjcard pjPadding">
    <!-- <p>{{ 'income_distribution' | translate }}</p> -->
    <p>Changes in action, interactive quantity and user engagement for each week</p>
    <ngx-charts-line-chart
      [scheme]="multiColorScheme2"
      [results]="multiLine"
      xAxis="true"
      yAxis="true"
      legend="true"
      gradient="false">
    </ngx-charts-line-chart>
  </div>
  <div class="pjflex">
    <div class="pjcard fexVal pjPadding">
      <!-- <p>{{ 'income_distribution' | translate }}</p> -->
      <p>Evaluation Quantity variation of Pjdaren last week</p>
      <ngx-charts-line-chart
        [scheme]="colorScheme"
        showXAxisLabel="true"
        showYAxisLabel="true"
        xAxis="true"
        yAxis="true"
        xScaleMin = 0
        YScaleMin = 0
        [results]="resultL">
      </ngx-charts-line-chart>
    </div>
    <div class="pjcard fexVal pjPadding">
      <!-- <p>{{ 'income_distribution' | translate }}</p> -->
      <p>Medal keeper and changes in action for each week</p>
      <ngx-charts-line-chart
        [scheme]="colorScheme"
        showXAxisLabel="true"
        showYAxisLabel="true"
        xAxis="true"
        yAxis="true"
        xScaleMin = 0
        YScaleMin = 0
        [results]="resultR">
      </ngx-charts-line-chart>
    </div>
  </div>
  <!-- <div class="pjcard pjPadding">
    <p>{{ 'income_distribution' | translate }}</p>
    <p>Daily online store traffic changes</p>
    <ngx-charts-bar-vertical-2d
      [scheme]="colorScheme"
      [results]="dataTraffic"
      gradient="false"
      xAxis="true"
      yAxis="true"
      legend="true"
      [legendTitle]="legendTitle">
    </ngx-charts-bar-vertical-2d>
  </div> -->
  <div class="pjflex pjflexWrap">
    <div class="pjcard pjno-bottom-padding" *ngFor="let item of snsData">
      <div class="pjflex sns-top">
        <div class="sns-icon">
          <img [src]="item.icon" alt="">
        </div>
        <div>
          <b>{{item.title}}</b>
          <small>{{item.dateRange}}</small>
        </div>
      </div>
      <div class="pjflex sns-bottom">
        <div *ngFor="let subitem of item.value">
          <p>{{subitem.title}}</p>
          <p>{{subitem.count}}</p>
        </div>
      </div>
    </div>
  </div>
</section>