.sns-top{
    margin: 10px;
    // border-bottom: 1px solid #ececec;
    .sns-icon{
        img{
            height: 50px;
            width: 50px;
            border-radius: 50px;
        }
    }
    b{
        display: block;
        margin-left: 5px;
    }
    small{
        font-size: 15px;
        color: #ffffff;
        background-color: #ff2744;
        margin-left: 5px;
    }
}
.sns-bottom{
    margin: 0px 10px 10px 10px;
    justify-content: space-around;
    border-top: 1px solid #ececec;
    div{
        margin: 0px 5px;
        text-align: center;
    }
}